.post {
  background-color: #fff;
  margin: 10px 10px 15px;
  border-radius: 8px;
  padding: 16px;
}

.person {
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
  }
  &__info {
    img {
      height: 40px;
      border-radius: 50%;
    }
    display: flex;
    align-items: center;
    p {
      padding-left: 15px;
    }
  }
}

.follow {
  &__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.content {
  &__wrapper {
    border-radius: 8px;
    background-color: #f3f4f6;
    padding: 12px;
  }
  &__text {
    line-height: 24px;
    font-size: 14px;
    padding-bottom: 12px;
  }
  &__image {
    border-radius: 4px;
    height: 400px;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
}

.actions {
  &__list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin-top: 5px;
  }
  &__item {
    display: flex;
    align-items: center;

    &.push-right {
      margin-left: auto;
    }
  }
}

.mat-mdc-form-field {
  width: 100%;
}

.mat-mdc-unelevated-button:not(:disabled) {
  background-color: #f3f4f6;
  border-radius: 20px;
  font-weight: 600;
  font-size: 12px;
  height: 30px;
  max-width: 90px;
}

::ng-deep .mat-mdc-unelevated-button .mdc-button__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// ::ng-deep .mat-mdc-button .mat-mdc-button-touch-target {
//     height: 10px;
// }

.mat-mdc-button:has(.material-icons, mat-icon, [matButtonIcon]) {
  height: 25px;
}

.mat-icon {
  font-size: 16px;
  padding-top: 12px;
}

.mat-mdc-button > .mat-icon {
  padding: 0;
  color: #4b5563;
}

.send {
  padding-top: 5px;
  padding-left: 2px;
}

::ng-deep .mdc-button .mdc-button__label {
  color: #4b5563;
}
