mat-card {
  margin: 10px;
}

.amount {
  margin-left: auto;
  font-weight: bold;
}
.wallet {
  &__title {
    font-size: 16px;
  }
  &__balance {
    font-size: 24px;
    font-weight: 700;
    color: #16a34a;
    font-family: Inter;
    padding: 15px 0;
  }
  &__container {
    margin-left: 10px;
    display: flex;
  }
  &__button:hover {
    transform: scale(1.02);
    background-color: #0098ea;
  }
  &__button {
    transition: transform 0.125s ease-in-out;
  }
}

.transactions {
  &__icon {
    background-color: #dbeafe;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    .mat-icon {
      padding-top: 8px;
      padding-left: 8px;
      color: #2563eb;
    }
  }
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px;
  }
  &__left {
    display: flex;
    align-items: center;
  }
  &__info {
    padding-left: 17px;
  }
  &__type {
    font-weight: 600;
    font-size: 14px;
  }
  &__date {
    font-size: 12px;
    padding-top: 5px;
    color: #4b5563;
  }
  &__payment {
    font-weight: 700;
    font-size: 14px;
    color: #16a34a;
    font-family: Inter;
  }
}

.mat-mdc-unelevated-button:not(:disabled) {
  background-color: #0098ea;
  margin-right: 10px;
  color: white;
  font-family: "Roboto";
  letter-spacing: 0px;
  border-radius: 25px;
  height: 40px;
  font-size: 15px;
  // font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', Arial, Tahoma, Verdana, sans-serif;
}
