body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
  background-color: #f3f4f6;
}

h1 {
  font-weight: 700;
  font-size: 21px;
  line-height: 32px;
  padding-left: 10px;
}

.container {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

html,
body {
  height: 100%;
}
